<p>
  <label for="settings_webhook_url"><%= l(:field_webhook_url) %></label>
  <input type="text" id="settings_webhook_url" size="80" value="<%= settings['webhook_url'] %>" name="settings[webhook_url]" />
</p>

<p>
  <label for="settings_username"><%= l(:field_username) %></label>
  <input type="text" id="settings_username" value="<%= settings['username'] %>" name="settings[username]" />
</p>

<p>
  <label for="settings_icon"><%= l(:field_icon) %></label>
  <input type="text" id="settings_icon" value="<%= settings['icon'] %>" name="settings[icon]" />
</p>
